<%- include("templates/header") %>

    <h2>Hello, <%= name %>! How about a vegetable?</h2>

    <div class="container text-center">
        <div class="row">
            <div class="col-md">
                <img src="/broccoli.jpg" class="img-fluid" alt="Broccoli">
            </div>
            <div class="col-md">
                <img src="/carrot.jpg" class="img-fluid mt-5" alt="Carrot">
            </div>
            <div class="col-md">
                <img src="/pepper.jpg" class="img-fluid" alt="Red pepper">
            </div>
        </div>
    </div>

<%- include("templates/footer") %>