<li class="list-group-item mb-1">
    <div>
        <%= user.name %> (<%= user.user_type %>)
        <button class="btn btn-success" onclick="window.location.href='/admin/promote?name=<%= user.name %>'">Promote to admin</button>
        <button class="btn btn-danger" onclick="window.location.href='/admin/demote?name=<%= user.name %>'">Demote to user</button>
    </div>
</li>
